/* Write your custom CSS here */

.list-iconos li {
    padding: 3px 0;
    font-size: 1.2em;
}

.list-archivo li {
    vertical-align: top;
}

.list-archivo i {
    font-size: 5em;
}

.title-graf {
    font-weight: bold;
}

.badge-menu {
    position: absolute;
    left: 50%;
    top: 6px;
    z-index: 100;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    vertical-align: middle;
}

.messages {
    max-height: none;
}

.inbox-widget .inbox-item .inbox-item-date {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #f25656;
    font-size: 16px;
}